/* Body */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  /* Textarea */
  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  /* Jumbotron */
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: blueviolet;
    border-radius: 0;
    border-bottom: 10px solid lightcoral;
  }
  /* Description */
  .description{
    white-space: pre-wrap;
  }
  /* Time block */
  .time-block {
    text-align: center;
    border-radius: 15px;
  }
   /* Row */
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
  }
  /* Hour */
  .hour {
    background-color: black;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  /* Past time */
  .past {
    background-color: orange;
    color: burlywood;
  }
  /* Present time */
  .present {
    background-color: #77dd77;
    color: burlywood;
  }
  /* Future time */
  .future {
    background-color: lightblue;
    color: burlywood;
  }
  /* Save Button */
  .saveBtn {
    border-left: 1px solid white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: plum;
    color: black;
  }
  /* Save Button hover */
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }
/* Save icon */
  .fa-save {
      padding: 10px;
  
  }

/* Container */
  .container {
    margin-bottom: 10%;
    padding: 10px;
  }